@import "tailwindcss";

body {
  background-color: #0a0a1a;
  color: white;
  margin: 0;
  padding: 0;
  border: 0;
}

/* Utility to hide scrollbar while allowing scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Global Scrollbar Hide (Optional, based on user preference) */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

* {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}